
.NavBar {
    padding: 10px;
    width:100%;
    background-color: lightseagreen;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    
a {
    color: white;
    text-decoration: none;
}
h1 {
    margin-left: 1em;
    display: flex;
    color: white;

}
nav {
    display: flex;
    justify-content: space-evenly;
    
ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    li {
        padding-right: 4em;
        text-decoration: none;
    }
}
}
}
